
.row {
    margin-left: 50px;
}

.row_title {
    color: white;
}

.row_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row_posters::-webkit-scrollbar {
    display: none;
}

.row_poster {
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    /*margin-right: 10px;*/
    transition: transform 450ms;
}

/*.row_poster:hover {*/
/*    transform: scale(1.08);*/
/*}*/

.row_posterLarge {
    object-fit: contain;
    width: 100%;
    max-height: 250px;
    /*margin-right: 10px;*/
    /*transition: transform 450ms;*/
}

/*.row_posterLarge:hover {*/
/*    transform: scale(1.09);*/
/*}*/

.movie_container {
    margin-right: 10px;
    border: 1px solid gray;
    transition: transform 450ms;
}

.movie_container:hover {
    transform: scale(1.09);
}

.movie_image {
    width: 150px;
    height: 300px;
}

.movie_rating {
    float: right;
    margin-right: 10px;
    color: white;
}

.movie_title {
    margin-top: 10px;
    margin-left: 10px;
    color: white;
}